.row {
  display: flex;
  flex-wrap: wrap;
}

.column1 {
  flex: 25%;
}

.column2 {
  flex: 75%;
}

@media screen and (max-width: 800px) {
  .column1 {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column1 {
    flex: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .columnn2 {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column2 {
    flex: 100%;
    max-width: 100%;
  }
}
